@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variable';
@import '~react-pro-sidebar/dist/scss/styles.scss';


$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn_toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar_btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar_btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  collapsed {
    .sidebar_btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 0 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
@include mobile {
    padding: 10px;
        margin: auto;}
    header {
      margin-bottom: 40px;
      border-bottom: 1px solid #efefef;
      padding: 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
@include mobile {
    padding: 0;}
      .title {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
        margin: 0;
@include mobile {
    padding-left: 65px;}
      }
    }

.connectBtn {
    display: flex;
    min-width: 50px !important;
    width: 170px;
    height: 45px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      padding: 25px 0;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
@include mobile {
    flex-direction: column-reverse;}
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social_bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #545454;
    > span {
        margin: 0 10px;
    }
  }

  &rtl {
    direction: rtl;
    text-align: right;

    header {
      h1 {
        transform: translateX(20px);
      }
    }
    .block {
      direction: rtl;
      > span {
        margin-left: 0;
        margin-right: 10px;
      }
    }
    .sidebar_btn_wrapper {
      .sidebar_btn {
        span {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn_toggle {
      display: flex;
      position: fixed;
      z-index: 999;
    }

    &rtl {
      .btn_toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

.metamask {
    background-image: $metamask;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 24px;
    height: 24px;
}

.walletconnect {
    background-image: $walletconnect;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 24px;
    height: 24px;
}

.coinbase {
    background-image: $coinbase;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    width: 24px;
    height: 24px;
}

.main {
    margin-top: 0rem;
    .main__container {
        display: grid;
        max-width: 1024px;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-gap: 30px;
@include mobile {
        grid-template-columns: 1fr;}
    .main__content {
        margin-bottom: 65px;}
            .main__content h1 {
                font-size: 2rem;
                margin: 0 0 25px;
    @include mobile {
        font-size: 1.8rem;
        margin: 0 0 10px;}
            }

            .main__content p {
                font-size: 1.8rem;
                margin-top: 8px;
                font-weight: 100;
                color: #dbdbdb;
                text-shadow: 3px 3px 10px rgb(0 0 0 / 25%);
    @include mobile {
        font-size: 1.8rem;}
            }

            .main__btn {
                font-size: 1rem;
                padding: 14px 32px;
                background: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                transition: all 0.35s;
                outline: none;
                float: right;
            }

            .main__btn a {
                position: relative;
                z-index: 2;
                color: #000;
                text-decoration: none;
            }

            .main__btn:after {
             position: absolute;
             content: '';
             top: 0;
             left: 0;
             width: 0;
             height: 100%;
             background: #dbdbdb;
             color: #fff;
             transition: all 0.35s;
            border-radius: 4px;
            }

            .main__btn:hover:after {
                width: 100%;
            }
        }
    }

